# build --symlink_prefix=/ # Out of source build

build --cxxopt='-std=c++17'

# Visual Studio 2022

build:vs2022 --cxxopt=/std:c++17
build:vs2022 --cxxopt=/Zc:\_\_cplusplus
build:vs2022 --enable_runfiles # https://github.com/bazelbuild/bazel/issues/8843
build:vs2022 --define compiler=vs2022
build:vs2022 --copt=-DWIN32_LEAN_AND_MEAN
build:vs2022 --copt=-DNOGDI
build:vs2022 --host_copt=-DWIN32_LEAN_AND_MEAN
build:vs2022 --host_copt=-DNOGDI
